@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 25px;
  background-color: $highlight-color;
  box-shadow: 0 4px 6px $secondary-color;

  .logo {
    display: flex;
    align-items: center;
    gap: 10px;

    img {
      width: 150px;
      height: auto;
      border-radius: 8px;
    }

    .brand-name {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;

      h1 {
        font-size: 2.5rem;
        font-weight: bold;
        font-family: "Impact", "Arial Black", sans-serif;
        text-transform: uppercase;
        color: $secondary-color;
        letter-spacing: 1.5px;
        animation: slideIn 1.5s ease-out;
      }

      p {
        font-size: 2.5rem;
        font-weight: bold;
        font-family: "Impact", "Arial Black", sans-serif;
        color: $secondary-color;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        animation: slideIn 1.5s ease-out 0.3s;
        animation-fill-mode: forwards;
      }
    }
  }
}
