main {
  padding: 50px 25px;
}

.best-burgers {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px; // Ajusta la altura de acuerdo a tus necesidades
}

.image-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover; // La imagen cubrirá todo el contenedor sin deformarse
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  }
}

.text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;

  h2 {
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 15px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  }

  p {
    font-size: 1.5rem;
    line-height: 1.6;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  }
}
