.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);

  &-content {
    background-color: $background-color;
    margin: 10% auto;
    padding: 20px;
    border-radius: 8px;
    width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;

    .close {
      color: $secondary-color;
      float: right;
      font-size: 24px;
      font-weight: bold;
      cursor: pointer;

      &:hover {
        color: $highlight-color;
      }
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 15px;

      input,
      button {
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
      }

      button {
        font-family: $font-family;
        background-color: $primary-color;
        color: white;
        border: none;
        padding: 12px;
        border-radius: 4px;
        cursor: pointer;
        font-weight: bold;

        &:hover {
          background-color: $secondary-color;
        }
      }
    }
  }
}
